@import
url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');


*{
	box-sizing: border-box;
	transition: all ease-in-out 250ms;
}

body {
	margin:0;
	font-family: 'Raleway',sans-serif;
	text-align:center;
}

img {
	max-width:100%;
	height:auto;
}

.container{
	width:95%;
	max-width: 70em;
	margin: 0 auto;
}

.clearfix::after,
section::after,
footer::after{
	content: '';
	display: block;
	clear: both;
}

/* HomePage */

header{
	background-image: url("../HomePageElements_Untracked/Page1/BackgroundGradient.PNG");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100vh;
}

div#title-container{
	width: 100%;
	padding-top: 22.8%;
	background-image: url("../HomePageElements_Untracked/Page1/Foliage.PNG");
	background-repeat: no-repeat;
	background-size: cover;
}



div#title-container #title{
	position: absolute;
	width: 50%;
	margin: auto;
	padding-top: 0;
	left: 25%;
	top: 12vw;
}

img#tree{
	position: absolute;
	left: 30vw;
	top: 18vw;
	width: 40vw;
}

/*Navbar stuff*/

nav{
	position: fixed;
	top: 48vw;


	width: 98vw;
	height: auto;
	padding-top: 1.5vw;
	padding-bottom: 1.5vw;
	margin: auto;
	background-image: url("../HomePageElements_Untracked/Page1/NavbarBase.PNG");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	/* background-color: pink; */

	text-align: center;
}

nav ul{
	margin:0;
	padding:0;
	list-style:none;
}

nav ul li{
	display: inline-block;
}

nav ul li a img{
	height: 3vw;
	width: auto;
	padding-left: 3vw;
	padding-right: 3vw;
}