@import
url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');


*{
	box-sizing: border-box;
	transition: all ease-in-out 250ms;
}

body {
	margin:0;
	font-family: 'Raleway',sans-serif;
	text-align:center;
}

img {
	max-width:100%;
	height:auto;
}

.container{
	width:95%;
	max-width: 70em;
	margin: 0 auto;
}

.clearfix::after,
section::after,
footer::after{
	content: '';
	display: block;
	clear: both;
}

/*Column System
**************************/

[class^=col-]{
	width: 100%;
	margin-top: 1em;
}

[class^=col-]:first-child{
	margin-top: 0;
}

.col-1{
	width: 33.33333334%;
	float: left;
}


@media(min-width: 40rem){

	[class^=col-]{
		float: left;
		padding: 0 .5em;
		margin-top: 0;
	}

	[class^=col-]:first-child{
		padding-left: 0;
	}

	[class^=col-]:last-child{
		padding-right: 0;
	}

	.col-3{
		width: 50%;
	}

	.col-1{
		width: 16.6666%;
	}
}



/*typography
**************************/

h1{
	font-weight: 300;
	font-size: 1.7rem;
	margin-top: 0;
}

p{
	margin-top: 0;
	line-height: 1.5;
}

a.footerLink{
    color: white; text-decoration: none;
}

p:last-of-type{
	margin-bottom: 0;
}

.title{
	font-size: 2.5em;
	margin-bottom: 1.5em;
	font-weight: 900;
	margin-top:1em;
}

.title span{
	font-weight:300;
	display: block;
	font-size:0.9em;
}

.title-cta{
	margin-bottom: 0 0 .5em;
	color: #EEEEEE;
}

.unstyled-list{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

@media (min-width:60rem ){

	P{
		font-size: 1.2rem;
		line-height: 1.6;
	}

	.title{
		font-size:4rem;
	}
}




/*buttons*/


.button{
	display: inline-block;
	font-size: 1.15em;
	text-decoration:none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: .5em 1.75em;
}

@media(min-width:60rem) {
	.button{
		font-size: 1.5rem;
	}
}

.button-small {
	font-size: .7rem;
	font-weight: 700;
}

.button-accent{
	color: #00ff6c;
	border-color:#00ff6c;
}

.button-accent:hover,
.button-accent:focus{
	background:#00ff6c;
	color: #232323;
}

.button-light{
	color: #EEEEEE;
	border-color:#00190A;
}

.button-light:hover,
.button-light:focus{
	background:#00190A;
	color: #EEFFEE;
}


/*Header
**************************/
header{
	position:absolute;
	left:0;
	right:0;
	margin: 1em;

}


nav ul{
	margin:0;
	padding:0;
	list-style:none;
}

nav li{
	display: inline-block;
	margin: 1em;
}

nav a{
	font-weight:900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .8rem;
	padding:0.5em;
	color:#FFF;
}

nav a:hover,
nav a:focus {
	color:rgb(19, 128, 9);
}

.logo{
 width: 15em;
}

@media (min-width:60rem ){
	.logo{
		float: left;
	}

	nav{
		float: right;
	}
}


/*home-hero *******************************/

.home-hero{
	background-image:
	url(../images/Background.webp);  /*Ocean.gif ,hero-bg.png*/
	background-size: cover;
	background-position: center;
	/*background-attachment: fixed;*/
	padding:10em 0;
	color: #FFF;
}


@media (min-width:60rem) {
	.home-hero{
		height: 100vh;
		padding-top: 35vh;
	}
}

/*home-hero
**************************************************/

.home-about-textbox{
	background-color: #232323;
	padding: 4em;
	width: 100vw;
	margin-left:  -2.5vw;
	outline: 2px solid #00ff6c;
	outline-offset: -2.5em;
	color: #FFF;
	position: relative;
}


.home-about-textbox h1 {
	color: #00ff6c;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: .75em;
	background: #232323;
	padding:0 .1em;
}

@media (min-width: 25rem) {
	h1{
		font-size: 2rem;
	}

	.home-about-textbox{
		padding: 5.5em;
	}

	.home-about-textbox h1{
		top: .6em;
		padding: 0 .325em;
	}
}

@media (min-width: 60rem) {
	h1{
		font-size: 2.5rem;
	}

	.home-about {
		background-image:
		url(../images/Me.png);
		background-repeat: no-repeat;
		background-size: contain;
		padding-bottom: 10em;
	}

	.home-about-textbox{
		width: 50%;
		padding: 7em;
		outline-offset: -3.75em;
		margin-left:  -2.5%;
		top: -5em;
		text-align:left;
		box-shadow: 0 0 4em 0 rgba(0,0,0,.3);
	}

	.home-about-textbox h1{
		top: .75em;
		left: 6rem;
		transform: translate(0);
	}
}


/* Portfolio
********************************** */
.portfolio{
	margin: 3em 0 0;
}

.port-item{
	margin: 0 ;
	position: relative;
	overflow: hidden;
}

.port-item img{
	display: block;
}

.port-description{
	position: absolute;
	z-index: 4;
	bottom: 0em;
	left: 0em;
	right: 0em;
	color: white;
	background: #111;
	padding: 1em;
	padding-bottom: 2em;
	height:10.3rem;
	font-size: 0.8em;
}

.port-description p{
	margin: 1em;
}

@media (min-width: 35rem) {
	.port-item{
		width: 50%;
		float: left;
	}
}

@media (min-width: 60rem) {
	.port-item{
		width: 33.3333334%;
		overflow: hidden;
	}

	.port-description{
		transform: translateY(0%);
	}
}

/*CTA
**************************/


.cta{
	background-color: #000000;
	padding: 2em 0em 1em 0em;
}


/*Footer
**************************/

footer{
	background: #232323;
	color: #fff;
	text-align: left;
	padding:5em 0;
}

/*Image overlap
**************************/

.ImageOverlap img{
	pointer-events:none; /**Makes it transparent to clicks**/
	z-index: 6;
	position: absolute;
	width: 20%;
	transform: translate(80%, -51%);
}

/***************************Gallary specific features********************************/

/*Sketchfab Iframe
**************************/
.sketchfab-embed-wrapper{
 	aspect-ratio: 16/9
}

.sketchfab{
    width:100%; 
    height: 100%;
}

/*Horizontal scroll page links
**************************/
div.scrollmenu {
  background-color: #333;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  
  border-width: 2px;
  border-top-style: solid;
  border-bottom-style: solid ;  
}

div.scrollmenu div.item {
  display: inline-block;
  border-radius: 0.5rem;
  width: 33.33vw;  
  position: relative;
  text-align: center;
  color: white;
  vertical-align: text-top;
  height: 18.5vw;
}

@media (max-width:60rem ){

	div.scrollmenu div.item {
		width: 40vw; 
		height: 22.22vw 
	}
}

@media (max-width:30rem ){

	div.scrollmenu div.item {
		width: 60vw;  
		height:33.3333vw;
	}
}

div.scrollmenu div.item div{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2.5vw;
	font-weight: 900;
	color: White;
	z-index:15;
	text-decoration: none;
	pointer-events: none;
}

div.scrollmenu div.current a{
	pointer-events: none;
}
div.scrollmenu div.item img{
	max-width: 100%;
	height:auto;
	filter:brightness(20%);
	vertical-align: middle;
	width: 100%;

}

div.scrollmenu div.item:hover img{
	filter:brightness(100%);
}

div.scrollmenu div.current img{
	filter:brightness(100%);
}

/*Colour themes
**************************/